<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	 
	 <bean name="restAction"
		class="com.github.downgoon.jresty.rest.struts2.action.UnifiedRestAction" abstract="true">
		<property name="restResultsHandler" ref="restResultsHandler" />
	</bean>
	
	<bean name="restExceptionHandlerAction" scope="prototype" class="com.github.downgoon.jresty.rest.struts2.action.RestExceptionHandlerAction"
		parent="restAction">
		<property name="defaultExtension" value="json" />
	</bean>


	<!-- user definition -->
	
	<bean name="pingAction" scope="prototype" class="org.example.jresty.action.PingAction"
		parent="restAction">
	</bean>
	
	
</beans>
